/*@import "../node_modules/bootstrap/scss/bootstrap.scss";
*/

.container {
    padding: 0 15px;
}
.row {
       margin: 0;
   }
a {
    color: Dodgerblue;
}
h4 {
    color: Dodgerblue;
}
body {
    overflow-x: hidden;
    padding-top: 80px;
}
.navbar-brand{
    font-size: 35px;
}
.form-floating {
    border: 1px;
    /*border-radius: 20%;*/
}
.rounded mx-auto d-block
image {
    max-height: 300px;
    max-width: 300px;
}
.card-header {
    text-align: left;
}
.profile-image {
    height: 30px;
    width: 30px;
    border-radius: 45%;
}

.likes-icon {
    border: none;
    height: 30px;
    color: hotpink;
    text-align: left;
}

.likes-icon
button {
    border: none;
    background-color: transparent;
    color: hotpink;
    cursor: pointer;
    font-size: 20px;
}
.like{
    border: none;
    background-color: transparent;
    color: hotpink;
    cursor: pointer;
}
.list-group-item {
    text-align: left;
    padding-bottom: 2px;
}
.list-group-item
button {
    background-color: transparent;
    align-items: end;
    text-align: end;
    padding: 1px;
    border: none;
}
.list-group-item .profile-image .profile-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /*width="25" height="25" style="border-radius: 40%;"*/
}
.card-footer button {
    border: 10px;
    padding: 5px;
    border-radius: 20%;
}
.card {
    padding: 0;
    margin: 0;
}
.card-body {
    padding: 0;
    margin: 0;
}
.comment-card {
    padding: 2px;
    margin: 0;
    border: 0px;
}
.comment-card-body {
    /*display: inline;*/
    /*display: flex;*/
    /*
    justify-content:
    space-between;
    align-items: flex-start;
     */
    padding: 0px;
    margin: 0;
    border: 0px;
}
.commentCount {
    color: Dodgerblue;
    font-size: 10px;
}
.commentCount button{
    color: Dodgerblue;
    font-size: 10px;
}
.comment-card-footer button {
    padding-right: 10px;
    margin-right: 0px;
    align-content: end;
    align-items: end;
    text-align: end;
    border: 10px;
    border-radius: 20%;
}
.list-group {
    border: none;
    padding: 0px;
    margin: 0px;
}
.list-group-item {
    border: none;
    padding: 0px;
    margin: 0px;
    /*text-align: right;*/
}
.list-group-item
a{
    padding-left: 5px;
    padding-bottom: 2px;
    border: none;
    margin: 0px;
}
.profile-image{
    text-align: left;
}
.profile-icon{
    text-align: left;
}
.list-group-item
button{
    color: Dodgerblue;
    text-align: end;
}
.del-btn {
    text-align: right;
    padding-right: 0px;
}
.card .card-body .list-group .list-group-item {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.commentCount {
    text-align: left;
    color: Dodgerblue;
    padding-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 17px;
}
::-webkit-scrollbar {
    /*display: none;*/
}
ul {
    border: none;
    padding: 0px;
    margin: 0px;
}
li {
    border: none;
    padding: 0px;
    margin: 0px;
}